@{
    ViewBag.Title = "Workout Timer";
}

<div class="jumbotron">
    <h1>Workout Timer</h1>
    <p class="lead">Welcome to my Workout Timer.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a Workout timer, pretty much self explanatory. It also has a feature where you can listen to different music during training and resting time, 
            so you are not obligated to watch the display all the time.
        </p>
    </div>
</div>